<section class="container">
  <div class="welcome-page">
    <img src="logo.png"/>
    <h1>Task Hive</h1>
    <span>Stay organized with simplicity</span>
    <button (click)="slide()">Get Started</button>
  </div>
  <div  class="login-page">
  <img src="signup.png"/>
  <h1>Login</h1>
    <form>
      <label for="username">Username *</label>
      <input id="username" type="text" placeholder="Enter your email address" />
      <label for="password">Password *</label>
      <input id="password" type="password" placeholder="Enter your password" />
      <button type="submit">Login</button>
    </form>
    <div class="register-link">
      <p>New to Task Hive?</p>
      <a href="https://github.com/jaimehu20">Sign Up</a>
    </div>
  </div>
</section>

