.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.calendar-header h2 {
    font-size: 30px;
}

.calendar {
    height: 728px;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.task-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 80%;
    border-radius: 8px;
}
  
.task-modal h2 {
    margin-top: 0;
}
  
.task-modal button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
  
.task-modal button:hover {
    background-color: #0056b3;
}
  
.task-modal ul {
    list-style-type: none;
    padding: 0;
}
  
.task-modal li {
    margin-bottom: 10px;
}
  
.task-modal p {
    color: gray;
    font-style: italic;
}

.modal-button {
    text-align: right;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.fc .fc-toolbar  {
    flex-direction: column;
}
