<app-nav-bar />
<main *ngIf="userData">
    <div class="profile-pic">
        <img [src]="this.avatarUrl || 'defaultprofile.webp'" alt="User Profile" />
        <svg (click)="triggerFileInput()" xmlns="http://www.w3.org/2000/svg"
              width="24"  
              height="24"  
              viewBox="0 0 24 24"  
              fill="none"  
              stroke="currentColor"  
              stroke-width="2"  
              stroke-linecap="round"  
              stroke-linejoin="round"  
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
            <path d="M13.5 6.5l4 4" />
        </svg>
        <input  #fileInput type="file" (change)="onFileSelected($event)" style="display: none"/>
    </div>
    <h1>{{userData.name}}</h1>
    <h2>{{userData.email}}</h2>
    <div class="personal-info">
        <h3>Personal info</h3>
        <p>First name</p>
        <span>{{userData.name}}</span>
        <p>Last name</p>
        <span>{{userData.lastname}}</span>
        <p>Birth date</p>
        <span>{{userData.birthdate}}</span>
        <p>Email</p>
        <span>{{userData.email}}</span>
    </div>
    <div *ngIf="userData.preferences" class="preferences-info">
        <h3>Preferences</h3>
        <p>Reminders</p>
        <span>{{userData.preferences.reminder ? 'Enabled' : 'Disabled'}}</span>
        <p>Reminder frequency</p>
        <span>{{userData.preferences.reminder ? userData.preferences.reminderFrequency : 'Never'}}</span>
        <p>Date format</p>
        <span>{{userData.preferences.dateFormat}}</span>
        <p>Time format</p>
        <span>{{userData.preferences.timeFormat}}</span>
        <p>Week begins</p>
        <span>{{userData.preferences.weekBegins.charAt(0).toUpperCase() + userData.preferences.weekBegins.slice(1).toLowerCase()}}</span>
        <p>UI Mode</p>
        <span>{{userData.preferences.uiMode.charAt(0).toUpperCase() + userData.preferences.uiMode.slice(1).toLowerCase()}}</span>
    </div>
</main>