nav {
    color: black;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.mobileMenu {
    height: 50px;
    border: none;
    display: flex;
    flex-direction: column;
    background: transparent;
    cursor: pointer; }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6; }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6; }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6; }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6; }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6; }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6; }

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

div img {
  width: 35px;
  border-radius: 26px;
  cursor: pointer;
  height: 35px;
  object-fit: cover;
  max-width: 35px;
  max-height: 35px;
}

div svg {
  cursor: pointer;
}

.main-menu {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 50px;
  display: none;
  transition: all 0.3s ease;
}

.main-menu.show {
  display: block;
}

.main-menu ul {
  font-size: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-menu li {
  cursor: pointer;
}

.profile-menu {
  display: none;
  background: gray;
  width: 30%;
  text-align: left;
  align-self: end;
  border-radius: 8px;
  color: #FFF;
}

.profile-menu.show {
  display: block;
}

.profile-menu ul {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding-left: 10px;
}

.profile-menu li {
  cursor: pointer;
}