<div class="container">
    <img src="signup.png"/>
    <h1>First steps</h1>
    <p>Please fill out this short form to help us better understand your preferences.</p>
    <h2>{{ questions[currentQuestionIndex].question }}</h2>
    <form [formGroup]="form" (ngSubmit)="onNext()">
          <select id="answer" formControlName="answer">
            <option value="" disabled selected>Select an option</option>
            <option *ngFor="let option of questions[currentQuestionIndex]?.options" [value]="option">{{ option }}</option>
          </select>
        <span *ngIf="showError" class="error-message">Please select an option to proceed</span>    
        <button type="submit">{{ isLastQuestion() ? 'Submit' : 'Next' }}</button>
    </form> 
</div>